@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,300;0,500;0,700;1,300;1,500;1,700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Literata:ital,opsz,wght@0,7..72,200..900;1,7..72,200..900&family=Martian+Mono:wght@100..800&family=Space+Mono:ital,wght@0,400;0,700;1,400;1,700&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

@layer utilities {
  .text-base {
    font-size: 16px;
  }
}

.error {
  @apply text-red-500 text-base
}

.literata-medium {
  font-family: "Literata", serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
}

.literata-thin {
  font-family: "Literata", serif;
  font-optical-sizing: auto;
  font-weight: 300;
  font-style: normal;
}

.literata-medium-italic {
  font-family: "Literata", serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: italic;
}

.literata-thin-italic {
  font-family: "Literata", serif;
  font-optical-sizing: auto;
  font-weight: 300;
  font-style: italic;
}

.literata-bold {
  font-family: "Literata", serif;
  font-optical-sizing: auto;
  font-weight: 700;
  font-style: normal;
}

.literata-semibold {
  font-family: "Literata", serif;
  font-optical-sizing: auto;
  font-weight: 500;
  font-style: normal;
}

.roboto-light {
  font-family: "Roboto", sans-serif;
  font-weight: 300;
  font-style: normal;
}

.roboto-medium {
  font-family: "Roboto", sans-serif;
  font-weight: 500;
  font-style: normal;
}

.roboto-bold {
  font-family: "Roboto", sans-serif;
  font-weight: 700;
  font-style: normal;
}

.roboto-light-italic {
  font-family: "Roboto", sans-serif;
  font-weight: 300;
  font-style: italic;
}

.roboto-medium-italic {
  font-family: "Roboto", sans-serif;
  font-weight: 500;
  font-style: italic;
}

.roboto-bold-italic {
  font-family: "Roboto", sans-serif;
  font-weight: 700;
  font-style: italic;
}

.title {
  @apply text-4xl font-normal text-center
}

.link {
  @apply text-primaryBlue hover:underline text-base
}

input[type="text"],
input[type="email"],
input[type="password"],
input[type="search"],
input[type="tel"],
input[type="url"],
textarea {
  @apply border rounded-[16px] w-full pl-5 py-[5px] border-primaryBlue bg-transparent;
}

label {
  @apply text-primaryBlue text-base font-semibold
}

button {
  @apply bg-primaryBlue text-white hover:bg-secondaryBlue flex justify-center font-semibold w-full text-base rounded-[16px] px-[32px] py-[15px]
}

.contact-icon {
  @apply h-6 w-6 mr-2 text-primaryBlue
}